/*/target/
/*/*/target/
/*/.idea
*.iml
.DS_Store
*.jar
/*/runner/
/JavaModularAsteroids/nbproject/private/
/excersices/AsteroidsEntityFramework/Core/target/
/excersices/AsteroidsEntityFramework/Asteroid/target/
/excersices/AsteroidsEntityFramework/Enemy/target/
/excersices/AsteroidsEntityFramework/Common/target/
/excersices/AsteroidsEntityFramework/Player/target/
/excersices/AsteroidsServiceLoader/Asteroid/target/
/excersices/AsteroidsServiceLoader/Collision/target/
/excersices/AsteroidsServiceLoader/Common/target/
/excersices/AsteroidsServiceLoader/Core/target/
/excersices/AsteroidsServiceLoader/Player/target/
/excersices/AsteroidsServiceLoader/Enemy/target/
/excersices/JavaLab/AsteroidsEntityFramework/Common/target/
/excersices/JavaLab/AsteroidsEntityFramework/Core/target/
/excersices/JavaLab/AsteroidsEntityFramework/Player/target/
/excersices/JavaLab/AsteroidsEntityFramework/Asteroid/target/
/excersices/JavaLab/AsteroidsEntityFramework/Enemy/target/
/excersices/JavaLab/AsteroidsEntityFramework/Collision/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/branding/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/application/target/
