/*/target/
/*/*/target/
/*/.idea
*.iml
.DS_Store
*.jar
/*/runner/
/JavaModularAsteroids/nbproject/private/
/excersices/AsteroidsEntityFramework/Core/target/
/excersices/AsteroidsEntityFramework/Asteroid/target/
/excersices/AsteroidsEntityFramework/Enemy/target/
/excersices/AsteroidsEntityFramework/Common/target/
/excersices/AsteroidsEntityFramework/Player/target/
/excersices/AsteroidsServiceLoader/Asteroid/target/
/excersices/AsteroidsServiceLoader/Collision/target/
/excersices/AsteroidsServiceLoader/Common/target/
/excersices/AsteroidsServiceLoader/Core/target/
/excersices/AsteroidsServiceLoader/Player/target/
/excersices/AsteroidsServiceLoader/Enemy/target/
/excersices/JavaLab/AsteroidsEntityFramework/Common/target/
/excersices/JavaLab/AsteroidsEntityFramework/Core/target/
/excersices/JavaLab/AsteroidsEntityFramework/Player/target/
/excersices/JavaLab/AsteroidsEntityFramework/Asteroid/target/
/excersices/JavaLab/AsteroidsEntityFramework/Enemy/target/
/excersices/JavaLab/AsteroidsEntityFramework/Collision/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/branding/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/application/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Core/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Asteroid/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Collision/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Common/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Enemy/target/
/excersices/Netbeanslab1/AsteroidsNetbeansModules/Player/target/
/excersices/GameLab/AsteroidsEntityFramework/Core/target/
/excersices/GameLab/AsteroidsEntityFramework/Player/target/
/excersices/GameLab/AsteroidsEntityFramework/Enemy/target/
/excersices/GameLab/AsteroidsEntityFramework/Common/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Asteroid/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Collision/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Common/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Core/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Enemy/target/
/excersices/JavaLabOld/AsteroidsEntityFramework/Player/target/
/excersices/1/AsteroidEntityFramework/branding/target/
/excersices/1/AsteroidEntityFramework/application/target/
/excersices/1/AsteroidEntityFramework/Bullet/target/
/excersices/1/AsteroidEntityFramework/Core/target/
/excersices/1/AsteroidEntityFramework/Common/target/
/excersices/1/AsteroidEntityFramework/Player/target/
/excersices/1/AsteroidEntityFramework/Enemy/target/
/excersices/1/AsteroidEntityFramework/Asteroid/target/
/excersices/1/AsteroidEntityFramework/Collision/target/
/excersices/3/Asteroids/branding/target/
/excersices/3/Asteroids/application/target/
/excersices/1/AsteroidEntityFramework/CommonBullet/target/
/excersices/1/AsteroidEntityFramework/CommonEnemy/target/
/excersices/1/AsteroidEntityFramework/CommonAsteroids/target/
/excersices/1/AsteroidsEntityFramework/Asteroid/target/
/excersices/1/AsteroidsEntityFramework/Bullet/target/
/excersices/1/AsteroidsEntityFramework/Collision/target/
/excersices/1/AsteroidsEntityFramework/Common/target/
/excersices/1/AsteroidsEntityFramework/CommonAsteroids/target/
/excersices/1/AsteroidsEntityFramework/CommonBullet/target/
/excersices/1/AsteroidsEntityFramework/CommonEnemy/target/
/excersices/1/AsteroidsEntityFramework/Core/target/
/excersices/1/AsteroidsEntityFramework/Enemy/target/
/excersices/1/AsteroidsEntityFramework/Player/target/
/excersices/1/AsteroidsEntityFramework/application/target/
/excersices/1/AsteroidsEntityFramework/branding/target/
